<div class="addTodo" [class.addTodoEmpty]="!hasTodos">
  <form class="addTodoForm" (ngSubmit)="onSubmit()" #todoForm="ngForm">
    <label for="new-todo" class="addTodoForm__label">Add a new task</label>
    <input
      type="text"
      name="title"
      id="new-todo"
      placeholder="What do you need to do?"
      class="input-text"
      required
      [(ngModel)]="model.title"
    />
    <button
      class="button addTodoForm__button"
      [disabled]="!todoForm.form.valid || !model.title.trim()"
    >
      Add
    </button>
  </form>
</div>
